---
- name: Ensure apt repositories sources.list is empty
  ansible.builtin.copy:
    content: ""
    dest: "{{ apt_repositories_sources_list_configuration_file }}"
    group: root
    owner: root
    mode: "0644"
  notify: Ensure apt cache
  become: true
  when: apt_repositories_empty_sources_list
