---
- name: Ensure apt repository {{ apt_repository_name }}
  ansible.builtin.template:
    src: sources.list.j2
    dest: "{{ apt_repositories_sources_list_dot_d_configuration_directory }}/{{ apt_repository_file }}.list"
    group: root
    owner: root
    mode: "0644"
  when: apt_repository_state == "present"
  notify: Ensure apt cache
  become: true

- name: Ensure apt repository {{ apt_repository_name }}
  ansible.builtin.file:
    path: "{{ apt_repositories_sources_list_dot_d_configuration_directory }}/{{ apt_repository_file }}.list"
    state: absent
  when: apt_repository_state == "absent"
  notify: Ensure apt cache
  become: true
